
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #84bcdaff;
    text-align: center;
}

#itemsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px); /* Adjust this value based on the desired number of columns */
    box-sizing: border-box;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.item h4 {
    margin: 10px 0;
}

.item p {
    color: black;
    margin: 5px 0;
}

.item button {
    background-color: #9f7e69ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.item button:hover {
    background-color: #f4e04dff;
    color: #2f1847ff;
}

 #search-container {
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 10px 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: right;
  }
  
  #searchInput {
    position: fixed;
    top: 20px;
    left: 20px; 
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    z-index: 1000;
  }
  
  #searchButton {
    position: fixed;
    top: 20px;
    left: 220px; /* Adjust this value to align with the search input */
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #f4e04dff;
    color: #2f1847ff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 1000;
  }
  
  #searchButton:hover {
    background-color: #f4e04dff;
  }

  .cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f4e04dff;
    color: #2f1847ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }

  .cart-counter {
    font-size: 12px;
    background: #84bcdaff;
    border-radius: 10px;
    color: #fff;
    padding: 2px 6px;
    margin: -10px 0 0 0;
    vertical-align: top;
    text-decoration: none;
  }
  
  .cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #84bcdaff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
    color: #2f1847ff;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .close-cart {
    margin-top: 20px;
    padding: 10px;
    background-color: #9f7e69ff;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #e95f46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .user-form-button {
    position: fixed;
    top: 20px;
    right: 400px; /* Adjust this value to position the button next to the cart button */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }
  
  .user-form-popup {
    display: none;
    position: fixed;
    top: 60px;
    right: 300px;
    width: 800px;
    background-color: #9f7e69ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    color: white;
  }

  .user-form-popup form {
    display: flex;
    flex-direction: column;
  }
  
  .user-form-popup input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-form-popup button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-form-popup .close-user-form {
    background-color: #e95f46;
    margin-top: 10px;
  }


  //colors

  /* CSS HEX */
--bright-green: #5aff15ff;
--chrysler-blue: #5603adff;
--dark-green: #002e2cff;
--pacific-cyan: #06aed5ff;
--jonquil: #f0c808ff;

/* CSS HEX */
--maize: #f4e04dff;
--beaver: #9f7e69ff;
--carolina-blue: #84bcdaff;
--black-olive: #3b413cff;
--russian-violet: #2f1847ff;